@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";

    Layout = "_Layout";


}
<style>

    .btn-outline-dark {
        color: #212529;
        background-color: transparent;
        background-image: none;
        border-color: #343a40;
    }

        .btn-outline-dark:hover {
            color: #fff;
            background-color: #343a40;
            border-color: #343a40;
        }
</style>


<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">

        @*  changed href="#!" to href="~/" so we can click on the pages in the header *@


        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="~/">
                    <btn class="btn bg-transparent">Home</btn>
                </a>
            </li>
            @*
            <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Sign in">Sign in</a>
            </li> *@

            @*             <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/shop">shop</a>
            </li> *@
            @*            <form asp-page-handler="SortAsc" method="post">
            <a asp-area="" asp-page="/Index" class="nav-link active">
            <button class="btn bg-transparent">Sort↓↓</button>
            </a>
            </form>
            @*for the other sort ↑*@

            @*            <form asp-page-handler="SortDesc" method="post">
            <a asp-area="" asp-page="/Index" class="nav-link active">
            <button class="btn bg-transparent">Sort↑↑</button>
            </a>
            </form>*@

            @*for the follow up stuff*@
            <a asp-area="" asp-page="/Sign in" class="nav-link active">
                <button class="btn btn-outline-dark">
                    Sign in as Admin
                </button>
                @* <span class="badge bg-dark text-white ms-1 rounded-pill">0</span> *@
            </a>


        </ul>
        <form method="post" asp-page-handler="Cart">
            <button class="bg-transparent"><li><a class="nav-link" asp-area="" asp-page="/Cart"><img src="images/cart1.png" style="max-width: 40px; max-height: 40px;"></a></li></button>
        </form>
    </div>
    </div>
</nav>




<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 justify-content-center">
            @*            @for (int i = 0; i < Model.EmployCount; i++)
            {
            <tr>
            <td>@Model.Employees[i].Name</td>
            <td>@Model.Employees[i].Username</td>
            <td>@Model.Employees[i].Password</td>
            <td>@Model.Employees[i].Email</td>
            </tr>
            }*@
            @for (int i = 0; i < Model.ProductCount; i++)
            {
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="text-center">
                            <img class="card-img-top" img src="images/@Model.Products[i].ProductID .jpeg" alt="..." />
                        </div>
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@Model.Products[i].ProductName</h5>
                                <p>@Model.Products[i].ProductPrice L.E</p>
                            </div>
                        </div>
                        <form method="post" asp-page-handler="Add">
                            <input type="hidden" name="ID" value="@Model.Products[i].ProductID" />
                            <input type="hidden" name="ProductPrice" value="@Model.Products[i].ProductPrice" />
                            <input type="hidden" name="ProductN" value="@Model.Products[i].ProductName" />
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"> <button class="btn btn-outline-dark">Add to cart</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


}

